.item-div {
    display: 'flex';
    flex-wrap: wrap;
    overflow: 'hidden';
    /* background-color: theme.palette.background.paper; */
     /* justifyContent: 'space-around'; */
}
    
.grid-list {
    width: 500;
    height: 450;
}

.dropdown-form {
    width: 600 !important;
}

.giph-card-media {
    height: 100 !important;
}

#favorites-paper {
    margin: 20px;
    background-color: lightgray;
}