.search-input {
    padding: 10px;
    margin: 10px;
}

#search-input {
    margin: 10px;
}

#results-paper {
    margin: 20px;
    background-color: lightgray;
}

#input-paper {
    margin: 20px;
    background-color: lightgray;
}